* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.app-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", serif;
}
.link-download {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .content-section {
    width: 95%;
    margin-top: 30px;
  }

  .title-container {
    text-align: center;
    align-items: center;
  }

  .main-title {
    font-size: 28px;
    line-height: 40px;
  }

  .btn-download {
    width: 70%;
    height: 60px;
    font-size: 18px;
  }

  .txt-container {
    width: 100%;
    margin-top: 30px;
  }

  p {
    font-size: 14px;
    line-height: 32px;
  }
}
